@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-mobile{
    animation: rotateMenu 0.5s ease;
}

.menu-mobile-items-icones{
    transition: all 5s ease-in-out;
    animation: rotateMenuitems 1s ease;
    
   }
.menu-mobile-items{

 transition: all 0.9s ease-in-out;
 animation: rotateMenuitems 1s ease;
}

.icone-menu-mobile-x{
    animation: rotateX 1s ease;
}


@keyframes rotateX{
    to{
        transform: rotate(0deg);
    }
    from {
        transform: rotate(-45deg);
    }
}


@keyframes rotateMenu {
    to{
        transform: translateY(0);

    }
    from{
        transform: translateY(100%);

    }
}

@keyframes rotateMenuitems {
    to{
        transform: translateY(0);

    }
    from{
        transform: translateY(400%);

    }
}